<form class="SLL-form">

  <div class="SLL-item-list-add">
    <div class="SLL-ondrop-box">{{localize "SIMPLE_LOOT_LIST.LABEL.DROP_ITEM"}}</div>
  </div>

  <section class="SLL-item-list-section">

    <header class="SLL-item-list-header flexrow">
      <div class="SLL-header-quantity">{{localize "SIMPLE_LOOT_LIST.LABEL.QUANTITY"}}</div>
      <div class="SLL-header-name">{{localize "SIMPLE_LOOT_LIST.LABEL.ITEM"}}</div>
    </header>

    <ol class="SLL-item-list">
      {{#each lootItems as |item|}}
      <li class="SLL-item-row">
        <div class="SLL-item-quantity">
          <input type="text" value="{{item.quantity}}">
        </div>
        <div class="SLL-item-name" data-pack="{{item.pack}}" data-id="{{item.id}}" data-uuid="{{item.uuid}}">
          {{item.name}}</div>
        <div class="SLL-item-delete">
          <a class="SLL-item-delete">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
      {{/each}}
    </ol>

  </section>

  <div class="SLL-item-list-button-row flexrow">
    <button name="submit">
      <i class="fas fa-save"></i> {{localize "SIMPLE_LOOT_LIST.LABEL.SAVE"}}
    </button>

    <button name="grant">
      <i class="fas fa-bullseye"></i> {{localize "SIMPLE_LOOT_LIST.LABEL.GRANT"}}
    </button>

    <button name="clear">
      <i class="fas fa-eraser"></i> {{localize "SIMPLE_LOOT_LIST.LABEL.CLEAR"}}
    </button>

    <button name="cancel">
      <i class="fas fa-times"></i> {{localize "SIMPLE_LOOT_LIST.LABEL.CANCEL"}}
    </button>
  </div>

</form>
