<li class="item">
  <div class="item-quantity">
    <input type="text" value="{{value}}">
  </div>
  <a data-action="render" data-uuid="{{uuid}}">{{name}}</a>
  <a data-action="delete">
    <i class="fa-solid fa-trash"></i>
  </a>
</li>
