<form class="SLL-form">

    <div class="SLL-item-list-add">
        <input class="SLL-ondrop-box" type="text" disabled placeholder="{{labels.DROP_ITEM}}">
    </div>

    <section class="SLL-item-list-section">

        <header class="SLL-item-list-header flexrow">
            <div class="SLL-header-quantity">{{labels.QUANTITY}}</div>
            <div class="SLL-header-name">{{labels.ITEM}}</div>
        </header>

        <ol class="SLL-item-list">
            {{#each lootItems as |item|}}
            <li class="SLL-item-row flexrow">
                <div class="SLL-item-quantity">
                    <input type="text" value="{{item.quantity}}">
                </div>
                <div class="SLL-item-name" data-pack="{{item.pack}}" data-id="{{item.id}}" data-uuid="{{item.uuid}}">{{item.name}}</div>
                <div class="SLL-item-delete">
                    <a class="SLL-item-delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ol>

    </section>

    <div class="SLL-item-list-button-row flexrow">
        <button name="submit">
            <i class="fas fa-save"></i> {{labels.SAVE}}
        </button>

        <button name="grant">
            <i class="fas fa-bullseye"></i> {{labels.GRANT}}
        </button>
        
        <button name="clear">
            <i class="fas fa-eraser"></i> {{labels.CLEAR}}
        </button>

        <button name="cancel">
            <i class="fas fa-times"></i> {{labels.CANCEL}}
        </button>
    </div>
    
</form>
