<li class="item">
  <div class="item-quantity">
    <input type="text" value="{{value}}">
  </div>
  <div class="item-name" data-uuid="{{uuid}}">{{name}}</div>
  <a class="item-delete">
    <i class="fa-solid fa-trash"></i>
  </a>
</li>
