input.SLL-ondrop-box {
    height: 100px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: contrast(0.75);
    font-style: italic;
}
input.SLL-ondrop-box.drag-over {
    border-color: black !important;
    border-style: dotted;
}
input.SLL-ondrop-box:hover {
    border: none;
}
input.SLL-ondrop-box::placeholder {
    color: black;
}
input.SLL-ondrop-box.drag-over::placeholder {
    color: inherit;
    opacity: 10%;
}

section.SLL-item-list-section {
    padding-top: 5px;
}
header.SLL-item-list-header.flexrow {
    height: 28px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-tertiary);
    font-weight: bold;
    align-content: center;
}

div.SLL-header-quantity {
    text-align: center;
}
div.SLL-header-name {
    flex: 4;
    text-align: left;
}

ol.SLL-item-list {
    padding-left: 0;
    margin: 0.25em 0 0.25em 0;
}

li.SLL-item-row.flexrow {
    align-items: center;
    padding: 0.25em 0 0.25em 0;
}
div.SLL-item-quantity {
    flex: 1;
    text-align: center;
}
div.SLL-item-name {
    flex: 4;
    font-weight: bold;
    padding: 0.25em 0 0.25em 0.5em;
}
div.SLL-item-name:hover {
    filter: drop-shadow(0 0 5px red);
    cursor: pointer;
}
div.SLL-item-delete {
    flex: 0;
}
a.SLL-item-delete {
    padding: 0 0.5em 0 0.5em;
}
.SLL-item-list-button-row {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: -4px;
    justify-content: space-between;
}
.SLL-item-list-button-row > button {
    margin-bottom: 4px;
    min-width: 263px;
}
