input.SLL-ondrop-box {
    height: 100px;
    border-radius: 20px;
    text-align: center;
    border-style: dotted;
}
input.SLL-ondrop-box:hover {
    border-style: dotted;
}

table.SLL-item-list {
    border: ridge;
    border-color: darkgray;
}

th.SLL-header-quantity {
    font-weight: bold;
    margin: 0 3px 0 0;
    padding: 1px 3px;
    white-space: nowrap;
}
th.SLL-header-name {
    text-align: center;
    font-weight: bold;
    margin: 0 0 0 0;
    white-space: nowrap;
}

td.SLL-item-quantity, th.SLL-header-quantity {
    text-align: center;
    width: 15%;
}
td.SLL-item-name {
    color: #4b4a44;
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 0 5px;
    font-family: var(--font-primary);
}
td.SLL-item-name:hover {
    filter: drop-shadow(0 0 5px red);
    cursor: pointer;
}
td.SLL-item-delete {
    width: 0;
}
button.SLL-item-delete {
    width: 34px;
    height: 34px;
    background: inherit;
    border: none;
}
button.SLL-item-delete:hover {
    filter: drop-shadow(0 0 5px red);
    box-shadow: 0 0 0 red;
}
button.SLL-item-delete > i {
    margin-right: 0px;
}
