.simple-loot-list [data-action="drop"] {
  border-radius: 20px;
  text-align: center;
  backdrop-filter: contrast(0.75);
  font-style: italic;
  padding: calc(50px - 1em);
  border-style: dotted;
  border-color: lightgray;
  margin-bottom: 5px;
}
.simple-loot-list [data-action="drop"].drag-over {
  border-color: black;
}
.simple-loot-list .item-header,
.simple-loot-list .currency-header {
  height: 28px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-tertiary);
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.simple-loot-list .currency-header {
  padding-left: 5px;
}
.simple-loot-list .item-list {
  padding-left: 0;
  max-height: 500px;
  overflow-y: scroll;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.simple-loot-list .currency-list {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
.simple-loot-list .currency {
  display: flex;
  flex: 0;
  align-items: center;
  gap: 5px;
}
.simple-loot-list .currency input {
  min-width: 3em;
}
.simple-loot-list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.simple-loot-list .item-quantity,
.simple-loot-list .header-quantity {
  text-align: center;
  flex-basis: 6em;
}
.simple-loot-list [data-action="render"] {
  font-weight: bold;
  flex: 1;
  padding: 0 5px;
}
